src/main/resources/bare-http-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
#if ($proxyHttps || $apiHttps)
        xmlns:https="http://www.mulesoft.org/schema/mule/https"
#end
#if ( $proxyHttps )
        xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
#end
        xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
        xmlns:expression-language="http://www.mulesoft.org/schema/mule/expression-language-gw"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
#if ($proxyHttps || $apiHttps)
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
#end
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/expression-language-gw http://www.mulesoft.org/schema/mule/expression-language-gw/current/mule-expression-language-gw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <expression-language:property-placeholder location="config.properties" />

    <api-platform-gw:api id="![p['api.id']]" apiName="![p['api.name']]" version="![p['api.version']]" flowRef="proxy">
#if( $hasDescription )
        <api-platform-gw:description>![p['api.description']]</api-platform-gw:description>
#end
    </api-platform-gw:api>

#if ( $apiHttps )
    <http:request-config name="http-request-config" host="![p['implementation.host']]" port="![p['implementation.port']]" basePath="![p['implementation.path']]" protocol="HTTPS"/>
#else
    <http:request-config name="http-request-config" host="![p['implementation.host']]" port="![p['implementation.port']]" basePath="![p['implementation.path']]" protocol="HTTP"/>
#end

    <flow name="proxy">
        <http:listener config-ref="$listenerConfigName" path="![p['proxy.path']]" responseStreamingMode="AUTO" parseRequest="false"/>
        <flow-ref name="copy-headers"/>
        <http:request config-ref="http-request-config" method="#[message.inboundProperties['http.method']]" path="#[message.inboundProperties['http.request.path'].substring(message.inboundProperties['http.listener.path'].length()-2)]" parseResponse="false">
            <http:request-builder>
                <http:query-params expression="#[message.inboundProperties['http.query.params']]"/>
            </http:request-builder>
            <http:success-status-code-validator values="0..599" />
        </http:request>

        <flow-ref name="copy-headers"/>
    </flow>

    <sub-flow name="copy-headers">
        <custom-transformer class="com.mulesoft.gateway.extension.CopyHeadersTransformer"/>
        <!-- This can be uncommented for customization
        <copy-properties propertyName="*"/>
        <remove-property propertyName="Host"/>
        <remove-property propertyName="Content-Length"/>
        <remove-property propertyName="MULE_*"/>
        <remove-property propertyName="Connection"/>
        <remove-property propertyName="Transfer-Encoding"/>
        <remove-property propertyName="Server"/>
        -->
    </sub-flow>

</mule>