src/test/resources/outputs/wsdl-v1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
      xmlns:expression-language="http://www.mulesoft.org/schema/mule/expression-language-gw"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
        http://www.mulesoft.org/schema/mule/expression-language-gw http://www.mulesoft.org/schema/mule/expression-language-gw/current/mule-expression-language-gw.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <expression-language:property-placeholder location="config.properties" />

    <api-platform-gw:api id="![p['api.id']]" apiName="![p['api.name']]" version="![p['api.version']]" flowRef="proxy">
    </api-platform-gw:api>

    <http:listener-config name="http-listener-config" host="![p['proxy.host']]" port="![p['proxy.port']]" protocol="HTTP"/>

    <http:request-config name="http-request-config" host="![p['implementation.host']]" port="![p['implementation.port']]" basePath="![p['implementation.path']]" protocol="HTTP"/>

    <flow name="proxy">
        <http:listener config-ref="http-listener-config" path="![p['proxy.path']]" responseStreamingMode="AUTO"/>
        <set-session-variable variableName="originalContentType" value="#[message.inboundProperties['Content-Type']]"/>
        <cxf:proxy-service port="![wsdl(p['wsdl.uri']).services[0].preferredPort.name]"
                           namespace="![wsdl(p['wsdl.uri']).targetNamespace]"
                           service="![wsdl(p['wsdl.uri']).services[0].name]"
                           payload="envelope" enableMuleSoapHeaders="false"
                           soapVersion="1.2"
                           wsdlLocation="![p['wsdl.uri']]"/>
        <flow-ref name="copy-headers"/>
        <cxf:proxy-client payload="envelope" enableMuleSoapHeaders="false" soapVersion="1.2"/>
        <set-property propertyName="Content-Type" value="#[sessionVars['originalContentType']]"/>
        <http:request config-ref="http-request-config" path="![wsdl(p['wsdl.uri']).services[0].preferredPort.addresses[0].path]" method="POST" parseResponse="false">
            <http:success-status-code-validator values="0..599" />
        </http:request>
        <flow-ref name="copy-headers"/>
    </flow>

    <sub-flow name="copy-headers">
        <copy-properties propertyName="*"/>
        <remove-property propertyName="Host"/>
        <remove-property propertyName="Content-Length"/>
        <remove-property propertyName="http.*"/>
        <remove-property propertyName="MULE_*"/>
        <remove-property propertyName="Connection"/>
        <remove-property propertyName="Transfer-Encoding"/>
    </sub-flow>
</mule>
