src/main/resources/proxies/wsdl-proxy/wsdl-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:expression-language="http://www.mulesoft.org/schema/mule/expression-language-gw"
    xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
    http://www.mulesoft.org/schema/mule/expression-language-gw http://www.mulesoft.org/schema/mule/expression-language-gw/current/mule-expression-language-gw.xsd
    http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="![p['proxy.host']]" port="![p['proxy.port']]"/>

    <http:request-config name="HTTP_Request_Configuration" host="![wsdl(p['wsdl.uri']).services[0].preferredPort.addresses[0].host]" port="![wsdl(p['wsdl.uri']).services[0].preferredPort.addresses[0].port]"/>

    <expression-language:property-placeholder location="config.properties"/>

    <api-platform-gw:api id="![p['api.id']]" apiName="![p['api.name']]" version="![p['api.version']]" flowRef="main">
        <api-platform-gw:description>![p['api.description']]</api-platform-gw:description>
    </api-platform-gw:api>

    <flow name="main">
        <http:listener config-ref="HTTP_Listener_Configuration" path="![p['proxy.path']]" responseStreamingMode="AUTO"/>
        <set-session-variable variableName="originalContentType" value="#[message.inboundProperties['Content-Type']]"/>
        <cxf:proxy-service port="![wsdl(p['wsdl.uri']).services[0].preferredPort.name]"
                           namespace="![wsdl(p['wsdl.uri']).targetNamespace]"
                           service="![wsdl(p['wsdl.uri']).services[0].name]"
                           payload="envelope" enableMuleSoapHeaders="false"
                           soapVersion="1.2"
                           wsdlLocation="![p['wsdl.uri']]"/>
        <flow-ref name="copy-headers"/>
        <cxf:proxy-client payload="envelope" enableMuleSoapHeaders="false" soapVersion="1.2"/>
        <set-property propertyName="Content-Type" value="#[sessionVars['originalContentType']]"/>
        <http:request config-ref="HTTP_Request_Configuration" path="![wsdl(p['wsdl.uri']).services[0].preferredPort.addresses[0].path]" method="POST">
            <http:success-status-code-validator values="0..599" />
        </http:request>
        <flow-ref name="copy-headers"/>
        <remove-property propertyName="Connection"/>
    </flow>
    <sub-flow name="copy-headers">
        <copy-properties propertyName="*"/>
        <remove-property propertyName="Content-Length"/>
        <remove-property propertyName="MULE_*"/>
        <remove-property propertyName="X_MULE*"/>
    </sub-flow>
</mule>
